<div fxLayout="column">
  <div fxLayout.lt-lg="column" fxLayout="row">
  <div fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="stretch">
    <mat-card fxFlex>
      <mat-card-header>
        <mat-card-title>List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-selection-list class="mb-1" #colors>
            <mat-list-option class="p-0">
              <span fxLayoutAlign="start center">
              <img mat-list-avatar src="assets/images/card-avatar.png" class="mr-1" />Primary
            </span>
            </mat-list-option>
            <mat-list-option>
              <span fxLayoutAlign="start center">
              <img mat-list-avatar src="assets/images/avataar.png" class="mr-1" />Warn
            </span>
            </mat-list-option>
            <mat-list-option>
              <span fxLayoutAlign="start center">
              <img mat-list-avatar src="assets/images/avatar.png" class="mr-1" />Grey
            </span>
            </mat-list-option>
            <mat-list-option>
              <span fxLayoutAlign="start center">
                <img mat-list-avatar src="assets/images/avataar.png" class="mr-1" />Blue
              </span>
            </mat-list-option>
            <mat-list-option>
              <span fxLayoutAlign="start center">
                <img mat-list-avatar src="assets/images/card-avatar.png" class="mr-1" />Yellow
              </span>
            </mat-list-option>
          </mat-selection-list>

          <p>
            Options selected: {{colors.selectedOptions.selected.length}}
          </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="stretch">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Expansion Panel
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion fxLayoutGap="1em" fxLayout="column">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Accordion 1
            </mat-panel-title>
          </mat-expansion-panel-header>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate.
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Accordion 2
            </mat-panel-title>
          </mat-expansion-panel-header>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate.
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Accordion 3
            </mat-panel-title>
          </mat-expansion-panel-header>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate.
        </mat-expansion-panel>

      </mat-accordion>
    </mat-card-content>
  </mat-card>
  </div>
  </div>
  <div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Tabs
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Tab 1">
          <div class="p-1">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.aecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.aecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Tab 2">
          <ng-template mat-tab-label>Tab 2</ng-template>
          <div class="p-1">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.aecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.aecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Tab 3" disabled>
          No Content
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
              Spinners
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="150px">
            <mat-grid-tile>
              <mat-progress-spinner mode="indeterminate" color="primary" [value]="65"></mat-progress-spinner>
            </mat-grid-tile>
            <mat-grid-tile color="accent">
              <mat-progress-spinner  mode="indeterminate" color="accent" [value]="25"></mat-progress-spinner>
            </mat-grid-tile>
            <mat-grid-tile color="accent">
              <mat-progress-spinner mode="indeterminate" color="warn" [value]="45"></mat-progress-spinner>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
</div>
</div>