<mat-sidenav-container class="sidenav__container">
  <!-- Notification Panel -->
  <mat-sidenav #sidenav mode="over" position="end">
    <perfect-scrollbar>
      <div class="notification__panel" fxLayout="column">
        <mat-list>
          <h3 mat-subheader>Today</h3>
          <div class="secondary-text mat-display-1 p-1 mb-0" flex>
            <div class="mb-12">Monday</div>
            <div fxLayout="row" fxLayoutalign="start start">
              <span>13</span>
              <span class="mat-subheading-1">th </span>
              <span> November</span>
            </div>
          </div>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
          <h3 mat-subheader>Events</h3>
          <mat-list-item *ngFor="let event of events">
            <h4 mat-line>{{event.name}}</h4>
            <p mat-line class="secondary-text">{{event.time}}</p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
          <h3 mat-subheader>Quick Settings</h3>
          <mat-list-item>
            <mat-slide-toggle color="primary" [checked]="true">
              Notifications
            </mat-slide-toggle>
          </mat-list-item>
          <mat-list-item>
            <mat-slide-toggle color="accent" [disabled]="true">
              Cloud Sync
            </mat-slide-toggle>
          </mat-list-item>
          <mat-list-item>
            <mat-slide-toggle color="warn" [checked]="true">
              Notifications
            </mat-slide-toggle>
          </mat-list-item>
        </mat-list>
      </div>
    </perfect-scrollbar>
  </mat-sidenav>
  <mat-sidenav #sidebar position="start" [opened]="!isMobile()" [mode]="isMobile() ? 'over' : 'side'" class="sidenav--left mat-elevation-z6">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <app-header [sidenav]="sidenav" [sidebar]="sidebar"></app-header>
  <app-breadcrumb></app-breadcrumb>
  <div class="right__container">
    <router-outlet></router-outlet>
  </div>
  <app-settings></app-settings>
</mat-sidenav-container>
