@import '~@angular/material/theming';

@mixin anms-profile-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .list-item-active{
     border-left: 3px solid;
     border-color: mat-color($primary);
   }

   .timeline-badge{
    .mat-icon{
        color: #fff;
        border-radius: 50%;
      }
   }
   .mat-list-item{
     .task-options{
        visibility: hidden;
      }
      &:hover{
         background: mat-color($background, hover);

          .task-options{
          visibility: visible !important;
        }
      }
    }

    .timeline{
      position: relative;
       &:before{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 24px;
          border-left: 1px solid;
          border-color: mat-color($foreground, divider);
       }
      .timeline-badge{
        width: 48px;
        height: 48px;
        position: relative;

        img{
          width: 48px;
          height: 48px;
          border-radius: 50%
        }
      }
      .timeline-body{
        overflow: hidden;
        width: 100%;

        .timeline-body-top{
          margin-bottom: 8px;
        }

        .timeline-body-content{

          & :last-child{
            margin-bottom: 8px;
         }

         img{
          width: 100%;
         }

        }
      }
    }
  .mat-row{
    &:hover{
     background: mat-color($background, hover);
   }
  }
}