<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-sm="18" fxFlex.sm="50">
    <mat-card class="text-center" fxLayout="column">
      <div class="propic">
        <img src="assets/images/avataar.png">
      </div>
      <h3 class="mat-h3-light text-center mb-0 mt-5">John Doe</h3>
      <small class="text-center m-0-auto">Big Data Expert</small>
      <small class="text-center">Hi I'm Jhone, sit amet consectetur adipisicing elit. Aperiam repellendus nam perspiciatis.</small>

      <div class="profile-actions mt-1">
        <button mat-raised-button color="primary">Mesage</button>
         <button mat-raised-button color="accent">Follow</button>
      </div>

      <div class="profile-nav">
        <mat-nav-list>
          <mat-list-item class="list-item-active">
            <mat-icon>home</mat-icon><span>Overview</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon>settings</mat-icon><span>Settings</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon>content_paste</mat-icon><span>Blank</span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </div>
    </mat-card>
  </div>
</div>