<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-sm="300px" fxFlex.sm="50" fxLayout="column">
    <mat-card class="text-center" fxLayout="column">
      <div class="propic">
        <img src="assets/images/avataar.png">
      </div>
      <h3 class="mat-h3-light text-center mb-0 mt-5">John Doe</h3>
      <p class="text-center m-0-auto">Big Data Expert</p>
      <small class="text-center mat-hint">Hi I'm Jhone, sit amet consectetur adipisicing elit. Aperiam repellendus nam perspiciatis.</small>

      <div class="profile-actions mt-1 mb-1">
        <button class="mr-1" mat-raised-button color="primary">Mesage</button>
         <button mat-raised-button color="accent">Follow</button>
      </div>

      <div class="profile-nav">
        <mat-nav-list class="icon-48">
          <mat-list-item class="list-item-active">
            <mat-icon>home</mat-icon><span>Overview</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon>settings</mat-icon><span>Settings</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon>content_paste</mat-icon><span>Blank</span>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-card>

    <mat-card class="default">
      <mat-card-header>
        <mat-card-title>Contact Information</mat-card-title>
      </mat-card-header>
      <mat-list class="icon-48">
        <mat-list-item>
          <mat-icon>public</mat-icon>www.public.com
        </mat-list-item>
        <mat-list-item>
          <mat-icon>email</mat-icon>public@public.com
        </mat-list-item>
        <mat-list-item>
          <mat-icon>phone</mat-icon>9876543210
        </mat-list-item>
        <mat-list-item>
          <mat-icon>add_location</mat-icon>Ahmedabad
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="calc(100%-300px)" fxFlex="100">
    <div fxFlex.gt-sm="50%" fxFlex="50">
      <mat-card class="default">
        <mat-card-header>
          <mat-card-title>Timeline</mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-1">
          <div class="timeline">
            <div class="timeline-item mb-1" fxLayout="row">
              <div class="timeline-badge mr-1">
               <img src="assets/images/card-avatar.png">
              </div>
              <div class="timeline-body ml-1">
                <div class="timeline-body-top" fxLayout="row">
                 <a class="mr-1">Jhone Doe updated his status</a><span class="mat-hint">1 hour ago</span>
                </div>
                <div class="timeline-body-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus natus fugit porro at sunt mollitia repellendus deserunt, libero similique.</p>
                </div>
                <div class="timeline-body-actions">
                  <a href="" class="mr-1 mat-hint">Like</a>
                  <a href="" class="mat-hint">Comment</a>
                </div>
              </div>
            </div>

            <div class="timeline-item mb-1" fxLayout="row">
              <div class="timeline-badge mr-1">
               <img src="assets/images/card-avatar.png">
              </div>
              <div class="timeline-body ml-1">
                <div class="timeline-body-top" fxLayout="row">
                 <a class="mr-1">Jhone Doe updated his status</a><span class="mat-hint">1 hour ago</span>
                </div>
                <div class="timeline-body-content">
                    <img src="assets/images/timeline-photo.jpg">
                </div>
                <div class="timeline-body-actions">
                  <a href="" class="mr-1 mat-hint">Like</a>
                  <a href="" class="mat-hint">Comment</a>
                </div>
              </div>
            </div>

            <div class="timeline-item mb-1" fxLayout="row">
              <div class="timeline-badge mr-1 icon-48">
               <mat-icon>settings</mat-icon>
              </div>
              <div class="timeline-body ml-1">
                <div class="timeline-body-top" fxLayout="row">
                 <a class="mr-1">Jhone Doe updated his status</a><span class="mat-hint">1 hour ago</span>
                </div>
                <div class="timeline-body-content">
                    <p>Membership has been upgraded to pro</p>
                </div>
                <div class="timeline-body-actions">
                  <a href="" class="mr-1 mat-hint">Like</a>
                  <a href="" class="mat-hint">Comment</a>
                </div>
              </div>
            </div>

            <div class="timeline-item mb-1" fxLayout="row">
              <div class="timeline-badge mr-1 icon-48">
               <mat-icon>settings</mat-icon>
              </div>
              <div class="timeline-body ml-1">
                <div class="timeline-body-top" fxLayout="row">
                 <a class="mr-1">Jhone Doe updated his status</a><span class="mat-hint">1 hour ago</span>
                </div>
                <div class="timeline-body-content">
                    <p><span>Membership</span> has been upgraded to pro</p>
                </div>
                <div class="timeline-body-actions">
                  <a href="" class="mr-1 mat-hint">Like</a>
                  <a href="" class="mat-hint">Comment</a>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex.gt-sm="50%" fxFlex="50">
      <mat-card class="default">
        <mat-card-header>
          <mat-card-title>
            Assigned Tasks
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-checkbox>Lorem, ipsum dolor sit amet</mat-checkbox>
              <span fxFlex></span>
           <mat-chip color="primary" selected="true">Pending</mat-chip>
              <button mat-icon-button [matMenuTriggerFor]="taskOptions">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #taskOptions="matMenu">
                <button mat-menu-item><mat-icon>done</mat-icon><span>Completed</span></button>
                <button mat-menu-item><mat-icon>edit</mat-icon><span>Edit</span></button>
                <button mat-menu-item><mat-icon>delete</mat-icon><span>Delete</span></button>
              </mat-menu>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>