@import '~@angular/material/theming';

@mixin anms-dashboard-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .list-item-active{
     border-left: 3px solid;
     border-color: mat-color($primary);
   }
}