@import 'src/themes/common/common.scss';
.error {
  .mat-icon {
    @include size(120px);
    @include fontandline(120px);
  }
  &__digit {
    font-weight: 600;
    @include fontandline(80px);
  }
  &__text--small {
    font-size: 24px;
    font-weight: 300;
  }
  &__desc {
    margin-top: 30px;
    font-size: 20px;
  }
  .mt { margin-top: 50px; }
  
}