@mixin anms-common-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-bg-primary {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast) !important;
  }
  .mat-bg-accent {
    background: mat-color($accent);
    color: mat-color($accent, default-contrast) !important;

  }
  .mat-bg-warn {
    background: mat-color($warn);
  }
  .mat-bg-primary-400{
    background-color: mat-color($primary, 400);
  }
  .mat-card-bg{
    background: mat-color($background, card);
  }
  .link{
    color: #1976d2;
  }
  .mat-success{
    background: #43a047;
    color: #fff !important;
  }
  .mat-success .mat-snack-bar-container{
    background: #43a047 !important;
    color: #fff !important;
  }
  .mat-success .mat-simple-snackbar-action{
    color: #fff !important;
  }
  .mat-errors{
    background: #f44336 !important;
    color: #fff !important;
  }
  .mat-errors .mat-snack-bar-container{
    background: #f44336 !important;
    color: #fff !important;
  }
  .mat-errors .mat-simple-snackbar-action{
    color: #fff !important;
  }
}