.chat-container{
  overflow: hidden;
}

.mat-toolbar {
  padding: 15px !important;
}
.pos-absolute{
  position: absolute;
  z-index: 9999;
}
.chat-search{
  div{
    padding: 0.5rem 1rem;
    background-color: #fff;
    input{
    border: none;
    overflow:hidden;
      &:focus{
        outline: none;
      }
    }
  }
}
.conversations-hold{
  .sender{
    .toolbar-avatar{
      margin-right: 1rem;
    }
  }
  .receiver{
    .toolbar-avatar{
      margin-left: 1rem;
      order: 2;
    }
  }
}
.mat-nav-list{
  .toolbar-avatar{
    order: -1;
    margin-right: 1rem;
  }
}
.toolbar-avatar{
  position:relative;
  &.online{
    .chat-status{
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 25px;
      right: -2px;
      border: 2px solid #fff;
      background: #4caf50;
    }
  }
  &.offline{
    .chat-status{
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 25px;
      right: -2px;
      border: 2px solid #fff;
      background: #ccc;
    }
  }
}
.unread{
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-color: #ccc;
  color: #fff;
}
.conversation-msg{
  padding: .48rem .94rem;
  border-radius: 4px;
}