<mat-card class="default chat-container" ngStyle.gt-sm="height:calc(100vh - 180px)">
   <mat-sidenav-container>
      <mat-sidenav [opened]="!isMobile()" [mode]="isMobile() ? 'over' : 'side'" position="start" #chat fxFlex.gt-sm="300px" fxFlex="250px" fxLayout="column">
        <perfect-scrollbar>
          <div fxLayout="column">
          <mat-toolbar color="primary" fxFlex="64px">
             <form fxFlex="100" class="chat--search-form">
                <div class="mat-elevation-z1" fxLayout="row" fxLayoutAlign="stretch center">
                   <mat-icon class="mat-hint">search</mat-icon>
                   <input type="text" placeholder="Search or Start new chat" class="mat-body-1 ml-5" fxFlex="100">
                </div>
             </form>
          </mat-toolbar>
          <mat-nav-list fxFlex class="p-0">
            <a mat-list-item>
              <div class="toolbar__avatar offline">
                <img mat-list-avatar src="assets/images/avataar.png">
                <span class="chat__status"></span>
              </div>
              <h4 mat-line class="m-0">John Doe</h4>
              <p mat-line class="mat-hint m-0">What's going on?</p>
              <span fxFlex></span>
              <div fxLayout="column" fxLayoutAlign="center end" fxFlex="83px">
                <p class="mat-hint m-0 mat-h5">Dec 10, 2017</p>
                <div class="unread mat-bg--primary m-0">5</div>
              </div>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar online">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on?</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar offline">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on?</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar offline">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on?</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar online">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on?</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar online">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on?</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar offline">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on? What's going on? What's going on?</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar online">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on?</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar offline">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on?</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar offline">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on?</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar online">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on?</p>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
               <div class="toolbar__avatar online">
                  <img mat-list-avatar src="assets/images/avataar.png">
                  <span class="chat__status"></span>
               </div>
               <h4 mat-line>John Doe</h4>
               <p mat-line class="mat-hint">What's going on?</p>
            </a>
            <mat-divider></mat-divider>
          </mat-nav-list>
          </div>
        </perfect-scrollbar>
      </mat-sidenav>
      <mat-sidenav-content>
         <div fxLayout="column" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="calc(100vh - 180px)" fxLayout="column" fxFlex="calc(100vh - 120px)">
               <mat-toolbar color="primary" fxFlex="64px">
                  <button mat-icon-button class="mr-1" (click)="chat.toggle()">
                     <mat-icon>short_text</mat-icon>
                  </button>
                  <div fxLayout="row" fxLayoutAlign="start center">
                     <a class="toolbar__avatar online active-chat-user mr-1">
                     <img mat-card-avatar src="assets/images/avataar.png" />
                     <span class="chat__status"></span>
                     </a>
                     <div fxLayout="column">
                        <h4 mat-line>John Doe</h4>
                     </div>
                  </div>
                  <span fxFlex></span>
                  <div>
                     <button mat-icon-button [matMenuTriggerFor]="progressBar">
                        <mat-icon>more_vert</mat-icon>
                     </button>
                     <mat-menu #progressBar="matMenu">
                        <button mat-menu-item>
                           <mat-icon>account_circle</mat-icon>
                           <span>My Profile</span>
                        </button>
                        <button mat-menu-item>
                           <mat-icon>email</mat-icon>
                           <span>Inbox</span>
                        </button>
                        <button mat-menu-item>
                           <mat-icon>exit_to_app</mat-icon>
                           <span>Logout</span>
                        </button>
                     </mat-menu>
                  </div>
               </mat-toolbar>
               <div class="conversation__block" fxFlex fxLayoutWrap="wrap">
                  <div fxLayout="column">
                    <perfect-scrollbar>
                      <div fxLayout="column" class="p-1">
                        <div class="sender" fxLayout fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Hello, How are you</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                        <div class="receiver" fxLayout fxLayoutAlign="end start" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet. </p>
                              <div class="mat-hint mat-h5" fxLayoutAlign="end start">Mar 22, 2017, 2:30:28 PM</div>
                           </div>
                        </div>
                        <div class="sender" fxLayout fxFlex="70" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet.</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                        <div class="receiver" fxLayout fxLayoutAlign="end start" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start end" fxLayout="column">
                              <p class="conversation__msg m-0">Hello, How are you</p>
                              <div class="mat-hint mat-h5" fxLayoutAlign="end start">Mar 22, 2017, 2:30:28 PM</div>
                           </div>
                        </div>
                        <div class="sender" fxLayout fxFlex="70" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                        <div class="receiver" fxLayout fxLayoutAlign="end start" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start end" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet.</p>
                              <div class="mat-hint mat-h5" fxLayoutAlign="end start">Mar 22, 2017, 2:30:28 PM</div>
                           </div>
                        </div>
                        <div class="sender" fxLayout fxFlex="70" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                        <div class="sender" fxLayout fxFlex="70" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                        <div class="receiver" fxLayout fxLayoutAlign="end start" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start end" fxLayout="column">
                              <p class="conversation__msg m-0">Hello, How are you</p>
                              <div class="mat-hint mat-h5" fxLayoutAlign="end start">Mar 22, 2017, 2:30:28 PM</div>
                           </div>
                        </div>
                        <div class="sender" fxLayout fxFlex="70" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                        <div class="sender" fxLayout fxFlex="70" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                        <div class="sender" fxLayout fxFlex="70" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                        <div class="receiver" fxLayout fxLayoutAlign="end start" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start end" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet.</p>
                              <div class="mat-hint mat-h5" fxLayoutAlign="end start">Mar 22, 2017, 2:30:28 PM</div>
                           </div>
                        </div>
                        <div class="receiver" fxLayout fxLayoutAlign="end start" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start end" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet.</p>
                              <div class="mat-hint mat-h5" fxLayoutAlign="end start">Mar 22, 2017, 2:30:28 PM</div>
                           </div>
                        </div>
                        <div class="sender" fxLayout fxFlex="70" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                        <div class="receiver" fxLayout fxLayoutAlign="end start" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start end" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet.</p>
                              <div class="mat-hint mat-h5" fxLayoutAlign="end start">Mar 22, 2017, 2:30:28 PM</div>
                           </div>
                        </div>
                        <div class="sender" fxLayout fxFlex="70" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                        <div class="receiver" fxLayout fxLayoutAlign="end start" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start end" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper velit euismod. Morbi dapibus varius imperdiet.</p>
                              <div class="mat-hint mat-h5" fxLayoutAlign="end start">Mar 22, 2017, 2:30:28 PM</div>
                           </div>
                        </div>
                        <div class="sender" fxLayout fxFlex="70" fxFlex="100">
                           <a class="toolbar__avatar">
                           <img mat-card-avatar src="assets/images/avataar.png" />
                           <span class="chat__status"></span>
                           </a>
                           <div fxFlex="70" fxLayoutAlign="start start" fxLayout="column">
                              <p class="conversation__msg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus felis et leo imperdiet, ut ullamcorper</p>
                              <div class="mat-hint mat-h5">10 min ago</div>
                           </div>
                        </div>
                      </div>
                    </perfect-scrollbar>
                  </div>
               </div>
               <mat-divider></mat-divider>
               <div fxLayout="row" fxLayoutAlign="stretch center" fxLayoutWrap="wrap" class="type-conversation p-1" fxFlex.gt-sm="100px" fxFlex="80px">
               <mat-form-field class="mt-5 pr-1" fxFlex>
               <input matInput placeholder="Type and hit enter to send message">
               </mat-form-field>
               <button mat-fab color="primary">
               <mat-icon>send</mat-icon>
               </button>
               </div>
            </div>
         </div>
         <mat-divider></mat-divider>
      </mat-sidenav-content>
   </mat-sidenav-container>
</mat-card>