.chat-container{
  overflow: hidden;

  .mat-nav-list{
    padding-top: 64px !important;
  }
  .mat-toolbar {
    padding: 15px !important;
  }

  .mat-sidenav{
    .mat-toolbar {
      z-index: 9;
      position: fixed;
    }
  }
}

.pos-absolute{
  position: absolute;
  z-index: 9999;
}

.chat-search{
  div{
    padding: 0.5rem 1rem;
    background-color: #fff;
    input{
    border: none;
    overflow:hidden;
      &:focus{
        outline: none;
      }
    }
  }
}
.conversations-hold{
  .sender{
    .toolbar-avatar{
      margin-right: 1rem;
    }
  }
  .receiver{
    .toolbar-avatar{
      margin-left: 1rem;
      order: 2;
    }
  }
}
.mat-nav-list{
  .toolbar-avatar{
    order: -1;
    margin-right: 1rem;
  }
}
.toolbar-avatar{
  position:relative;
  &.online{
    .chat-status{
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 25px;
      right: -2px;
      border: 2px solid #fff;
      background: #4caf50;
    }
  }
  &.offline{
    .chat-status{
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 25px;
      right: -2px;
      border: 2px solid #fff;
      background: #ccc;
    }
  }
}
.unread{
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #283593;
  color: #fff;
  font-size: 13px;
}
.conversation-msg{
  padding: .48rem .94rem;
  border-radius: 4px;
  font-size: 14px;
}