<mat-card>
  <mat-card-title>Grid System</mat-card-title>
  <mat-card-content>
    <div class="grid__system" fxLayout.xs="column">
      <div fxFlex fxFlex.xs="100" fxLayoutAlign="center center">fxFlex</div>
      <div fxFlex fxFlex.xs="100" fxLayoutAlign="center center">fxFlex</div>
      <div fxFlex fxFlex.xs="100" fxLayoutAlign="center center">fxFlex</div>
      <div fxFlex fxFlex.xs="100" fxLayoutAlign="center center">fxFlex</div>
    </div>
    <div [style.height]="'20px'"></div>
    <div class="grid__system" fxLayout="row">
      <div fxFlex="30" fxLayoutAlign="center center">fxFlex="30"</div>
      <div fxFlex="28" fxLayoutAlign="center center">fxFlex="28"</div>
      <div fxFlexOffset="5" fxFlex fxLayoutAlign="center center">fxFlexOffset="5" fxFlex</div>
    </div>
    <div [style.height]="'20px'"></div>

    <div>Click here To know more:
      <a routerLink="https://tburleson-layouts-demos.firebaseapp.com/#/docs" target="_blank" [ngStyle]="{color: '#1976d2', 'text-decoration': 'underline'}">
        https://tburleson-layouts-demos.firebaseapp.com/#/docs
      </a>
    </div>

  </mat-card-content>
</mat-card>