@mixin anms-gridSystem-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  
  .hzView div:nth-child(4n+1){
    background-color: mat-color($primary, 100);
  }
  .hzView div:nth-child(4n+2){
    background-color: mat-color($primary, 200);
  }
  .hzView div:nth-child(4n+3){
    background-color: mat-color($primary, 300);
  }
  .hzView div:nth-child(4n+4){
    background-color: mat-color($primary, 400);
  }
}