@import '~@angular/material/theming';

@mixin anms-register-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-bg-primary-400{
    background-color: mat-color($primary, 400);
  }
  .link{
    color: mat-color($accent);
  }
}