<div class="mat-bg--primary--400" [style.min-height] = "'100vh'" fxFlex="100" fxLayoutAlign="center center">
  <div fxFlex="100" [style.max-width]="'400px'">
    <mat-card>
      <div class="py-1" ngClass.gt-xs="p-1">
        <div class="logo text-center">
          <img src="assets/images/card-avatar.png">
          <div class="mat-h2 mt-5">CREATE AN ACCOUNT</div>
        </div>
        <div class="mt-1">
          <form>
            <div>
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Name">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Email">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Password">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Confirm Password">
              </mat-form-field>
            </div>
          </form>
          <div fxLayoutAlign="start center" fxLayoutGap=".19em">
            <mat-checkbox mat-body-1>I read and accept</mat-checkbox>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="my-1" fxLayoutGap="1rem">
            <button mat-raised-button color="accent" class="my-1" [style.width]="'220px'">CREATE AN ACCOUNT</button>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="mt-1" fxLayoutGap=".5rem">
            <div class="mat-body-2 mb-0">Already have an account?</div>
            <a routerLink="/admin/login" class="mat-body-1 link">Login</a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
