.mat-card{
    .mat-card-header-text{
      margin: 0;
    }
    .mat-chip{
        padding: 4px 8px;

         .mat-icon{
          font-size: 16px;
          height: 16px;
          width: 16px;
          margin-right: 4px;
        }
      }
  }
  .recent-tickets{
    padding: 0px !important;

    .mat-card-header{
       padding: 15px 0px 0px 20px !important;
    }
    .mat-list-item{
      cursor: pointer;

      .mat-chip{
          padding: 2px 6px !important;
          border-radius: 4px;
      }
    }
  }
  .mat-grid-tile img{
    width: 100%;
    cursor: pointer;
  }
  
  .custom-card{

    .mat-card-image{
      margin: 0px;
      width: 100%;
    }

    .image-overlay{
      position: relative;
    }
    .image-overlay .card-title.overlay {
      /* width: 100%; */
        left: 0px;
        text-indent: 20px;
       padding: 15px 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.35);
        position: absolute;
        right: 0px;
        margin-bottom: 10px;
        color: #fff;
        font-size: 1.25em;
        margin-bottom: 10px;
        font-weight: 300;
    }
  }
 .custom-card{
   .mat-card-title{
    padding: 7px 5px 7px 20px;
    height: 54px;
   }
   .mat-card-content{
     padding: 24px;
   }
   .custom-card-footer
   {
     padding: 15px 24px !important
   }
   .custom-card-actions{
     padding: 10px 10px !important;
     margin: 0 !important;
   }
 }