
  .mat-card{

    .mat-card-header-text{
      margin: 0;
    }
    .mat-chip{
        padding: 4px 8px;

         .mat-icon{
          font-size: 16px;
          height: 16px;
          width: 16px;
          margin-right: 4px;
        }
      }
  }
  .recent-tickets{
    padding: 0px !important;

    .mat-card-header{
       padding: 15px 0px 0px 20px !important;
    }
    .mat-list-item{
      cursor: pointer;

      .mat-chip{
          padding: 2px 6px !important;
          border-radius: 4px;
      }
    }
  }
   @media (max-width: 979px) {
            canvas {
                width: 100% !important;
                max-width: 800px;
                height: auto !important;
                // width: 500px !important;
                // height: 300px !important;
            }
        }