<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start stretch">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Sale</mat-card-subtitle>
          <h3 class="mat-h3-light m-0">22,200</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg-primary m-0 p-1" fxLayoutAlign="center center">
          <mat-icon>trending_up</mat-icon><span class="mat-h3-light ml-2">20%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start stretch">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Sale</mat-card-subtitle>
          <h3 class="mat-h3-light m-0">22,200</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg-accent m-0 p-1" fxLayoutAlign="center center">
          <mat-icon>trending_up</mat-icon><span class="mat-h3-light ml-2">20%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start stretch">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Sale</mat-card-subtitle>
          <h3 class="mat-h3-light m-0">22,200</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg-accent m-0 p-1" fxLayoutAlign="center center">
          <mat-icon>trending_up</mat-icon><span class="mat-h3-light ml-2">20%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.xs="100" fxFlex.lg="25" fxFlex.lt-lg="50">
    <mat-card class="default">
      <mat-card-content fxLayoutAlign="start stretch">
        <div class="p-1">
          <mat-card-subtitle class="mb-0">Total Sale</mat-card-subtitle>
          <h3 class="mat-h3-light m-0">22,200</h3>
        </div>
        <span fxFlex></span>
        <mat-card class="mat-bg-warn m-0 p-1" fxLayoutAlign="center center">
          <mat-icon>trending_up </mat-icon><span class="mat-h3-light ml-2">20%</span>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout>
  <div fxFlex="100">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Orders</mat-card-title>
          <mat-card-subtitle>Orders vs New user registrations</mat-card-subtitle>
          <span fxFlex></span>
          <mat-chip-list>
            <mat-chip color="warn" selected="true" ><mat-icon>trending_up</mat-icon><small>20%</small></mat-chip>
          </mat-chip-list>
        </mat-card-header>
        <mat-card-content>
          <h3 class="mat-h3 mb-0">22,200</h3>
          <small>Monthly</small>
        </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-sm="33.33" fxLayout="Column">
    <mat-card>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="150px">
          <mat-grid-tile>
            <mat-progress-spinner mode="indeterminate" color="primary" [value]="65"></mat-progress-spinner>
          </mat-grid-tile>
          <mat-grid-tile color="accent">
            <mat-progress-spinner  mode="indeterminate" color="accent" [value]="25"></mat-progress-spinner>
          </mat-grid-tile>
          <mat-grid-tile color="accent">
            <mat-progress-spinner mode="indeterminate" color="warn" [value]="45"></mat-progress-spinner>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="p-0 p0">
        <mat-card-title class="mb-0">
          <p class="m-0 f-20">Top Campaign Performance</p>
          <span fxFlex></span>
          <button mat-icon-button [matMenuTriggerFor]="progressBar">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #progressBar="matMenu">
            <button mat-menu-item>
            <mat-icon>account_circle</mat-icon><span>My Profile</span></button>
          <button mat-menu-item>
            <mat-icon>email</mat-icon><span>Inbox</span></button>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon><span>Logout</span></button>
          </mat-menu>
        </mat-card-title>
         <mat-divider></mat-divider>
      <mat-card-content>
        <div class="mb-1">
         <p>Facebook Campaign</p>
         <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <div class="mb-1">
         <p>Google AdSense</p>
         <mat-progress-bar mode="determinate" value="60" color="accent"></mat-progress-bar>
        </div>
        <div class="mb-1">
         <p>Twitter Campaign</p>
         <mat-progress-bar mode="determinate" color="warn" value="80"></mat-progress-bar>
        </div>
        <div class="mb-1">
         <p>Linkedin Campaign</p>
         <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="66.66" fxLayout="Column">
    <mat-card class="recent-tickets list-scroll">
      <mat-card-header>
        <mat-card-title>Recent Tickets</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mb-0">
       <mat-list>
         <mat-list-item>
           <img class="mr-1" mat-list-avatar src="assets/images/avataar.png">
           <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
             <p class="m-0">Mike Deck</p>
             <span fxFlex></span>
             <div fxFlex="40" fxFlex-sm="60%">Excerpt pipe is used...</div>
             <span fxFlex></span>
             <small class="mr-1">4 months ago</small>
           </div>
           <mat-chip color="active" selected="true">active</mat-chip>
         </mat-list-item>
         <mat-list-item>
           <img class="mr-1" mat-list-avatar src="assets/images/card-avatar.png">
           <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
             <p class="m-0">Mike Deck</p>
             <span fxFlex></span>
             <div fxFlex="40">Excerpt pipe is used...</div>
             <span fxFlex></span>
             <small class="mr-1">4 months ago</small>
           </div>
           <mat-chip color="primary" selected="true">active</mat-chip>
         </mat-list-item>
         <mat-list-item>
           <img class="mr-1" mat-list-avatar src="assets/images/card-avatar.png">
           <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
             <p class="m-0">Mike Deck</p>
             <span fxFlex></span>
             <div fxFlex="40">Excerpt pipe is used...</div>
             <span fxFlex></span>
             <small class="mr-1">4 months ago</small>
           </div>
           <mat-chip color="warn" selected="true">closed</mat-chip>
         </mat-list-item>
         <mat-list-item>
           <img class="mr-1" mat-list-avatar src="assets/images/card-avatar.png">
           <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
             <p class="m-0">Mike Deck</p>
             <span fxFlex></span>
             <div fxFlex="40">Excerpt pipe is used...</div>
             <span fxFlex></span>
             <small class="mr-1">4 months ago</small>
           </div>
           <mat-chip color="warn" selected="true">closed</mat-chip>
         </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-footer class="m-0">
        <button mat-button fxFlex="100">View All</button>
      </mat-card-footer>
    </mat-card>

    <div class="user-details" fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="100">
        <mat-card class="p-0">
            <mat-card-subtitle class="mat-bg-primary p-tl" fxLayout="row" fxLayoutAlign="start center">
              <img class="mr-1" mat-card-avatar src="assets/images/card-avatar.png">
              <span>Snow Benton</span>
              <span fxFlex></span>
              <button mat-icon-button [matMenuTriggerFor]="progressBar">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-card-subtitle>
          <mat-card-content>
            <mat-list>
              <mat-list-item><mat-icon mat-list-icon>card_membership</mat-icon>Paid Member</mat-list-item>
              <mat-list-item><mat-icon mat-list-icon>date_range</mat-icon>Member since Jul 9, 2016</mat-list-item>
              <mat-list-item><mat-icon mat-list-icon>location_on</mat-icon>329 Dictum Court, Minnesota</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="100">
        <mat-card class="p-0">
            <mat-card-subtitle class="p-tl mat-bg-primary" fxLayout="row" fxLayoutAlign="start center">
              <img class="mr-1" mat-card-avatar src="assets/images/avataar.png">
              <span>Snow Benton</span>
              <span fxFlex></span>
              <button mat-icon-button [matMenuTriggerFor]="progressBar">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-card-subtitle>
            <mat-card-content>
              <mat-list>
                <mat-list-item><mat-icon mat-list-icon>card_membership</mat-icon>Paid Member</mat-list-item>
                <mat-list-item><mat-icon mat-list-icon>date_range</mat-icon>Member since Jul 9, 2016</mat-list-item>
                <mat-list-item class="mb-1"><mat-icon mat-list-icon>location_on</mat-icon>329 Dictum Court, Minnesota</mat-list-item>
              </mat-list>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>


