@import '~@angular/material/theming';

@mixin anms-dashboard-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .recent-tickets{
     .mat-list-item{
       &:hover{
         background: mat-color($background, hover);
       }
     }
  }

  .user-details .mat-card-subtitle {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }
}