<div fxLayout="row" fxLayoutWrap="wrap" >
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Total Sale</mat-card-subtitle>
        <span fxFlex></span>
        <mat-chip-list>
          <mat-chip color="primary" selected="true" ><mat-icon>trending_up</mat-icon><small>20%</small></mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <mat-card-content>
        <h3 class="mat-h3 mb-0">22,200</h3>
        <small>Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Total Sale</mat-card-subtitle>
        <span fxFlex></span>
        <mat-chip-list>
          <mat-chip color="accent" selected="true" ><mat-icon>trending_up</mat-icon><small>20%</small></mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <mat-card-content>
        <h3 class="mat-h3 mb-0">22,200</h3>
        <small>Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Total Sale</mat-card-subtitle>
        <span fxFlex></span>
        <mat-chip-list>
          <mat-chip color="accent" selected="true" ><mat-icon>trending_up</mat-icon><small>20%</small></mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <mat-card-content>
        <h3 class="mat-h3 mb-0">22,200</h3>
        <small>Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Total Sale</mat-card-subtitle>
        <span fxFlex></span>
        <mat-chip-list>
          <mat-chip color="warn" selected="true" ><mat-icon>trending_up</mat-icon><small>20%</small></mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <mat-card-content>
        <h3 class="mat-h3 mb-0">22,200</h3>
        <small>Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout fxLayoutAlign="stretch stretch">
  <div fxFlex="100">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Orders</mat-card-title>
          <mat-card-subtitle>Orders vs New user registrations</mat-card-subtitle>
          <span fxFlex></span>
          <mat-chip-list>
            <mat-chip color="warn" selected="true" ><mat-icon>trending_up</mat-icon><small>20%</small></mat-chip>
          </mat-chip-list>
        </mat-card-header>
        <mat-card-content>
          <h3 class="mat-h3 mb-0">22,200</h3>
          <small>Monthly</small>
        </mat-card-content>
    </mat-card>
  </div>
</div>


