<div id="wrapper">
	<div class="left-vertical-nav mat-grey-bg">
	</div>
	<div class="content-wrapper">
	  <mat-toolbar color="primary">
		<div class="mat-toolbar-top" fxHide>
			<div>
				<span matTooltip="Menu"><button (click)="sidebar.toggle()" mat-icon-button><mat-icon>menu</mat-icon></button></span>
			</div>
			<span class="fill-space"></span>

			<button mat-button [matMenuTriggerFor]="userMenu" class="user-icon">
				<img class="avatar" src="../../../assets/images/user.svg"><span>John Doe</span><mat-icon>keyboard_arrow_down</mat-icon>
			</button>
			<mat-menu #userMenu="matMenu">
				<button mat-menu-item><mat-icon>account_circle</mat-icon>My Profile</button>
				<button mat-menu-item><mat-icon>email</mat-icon>Inbox</button>
				<button mat-menu-item><mat-icon>exit_to_app</mat-icon>Logout</button>
			</mat-menu>
			<div class="mat-separator"></div>
			<a href="#" mat-icon-button class="search"><mat-icon>search</mat-icon></a>
			<div class="mat-separator"></div>
			<button type="button" mat-icon-button (click)="sidenav.toggle()" class="list">
				<mat-icon>notifications</mat-icon>
			</button>
		</div>

        <div class="searchbar expanded" fxLayout="row" fxFlex fxLayoutAlign="start center">
        	<input fxFlex type="text" name="search" placeholder="Search" class="ml-24">
        	<button mat-icon-button><mat-icon>close</mat-icon></button>
	    </div>
	  </mat-toolbar>
	</div>
</div>