@import 'src/themes/common/common.scss';

.logo img {
  @include size(100px);
}
.seperator {
  margin: 0 auto;
  
  .text { position: relative; }

   %seperator--pseudo{
    content: "";
    display: block;
    width: 30px;
    position: absolute;
    top: 10px;
    border-top: 1px solid rgba(0,0,0,.12);
   } 

  :before {
    @extend %seperator--pseudo;
    left: -40px;
  }
  :after {
    @extend %seperator--pseudo;
    right: -40px;
  }
}
.btn {
  &--google {
    background-color:#d73d32;
    color: #fff;
  }
  &--facebook {
    background-color: #3f5c9a;
    color: #fff;
  }
}
