.image-dialog-container{
    position: relative;
    line-height: 0px;
    overflow: hidden;
    
    img{
        width: 100%;
    }
    .mat-dialog-actions{
        position: absolute;
        right: 0;
        top: 0;
    }

}
