/* You can add global styles to this file, and also import other style files */


// html {
//     font-size: 16px;
// }

html body {
    // font-family: Roboto, sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    // font-size: .875rem;
    color: rgba(0,0,0,.87);
    line-height: 1.5;
    font-family: "Roboto",Helvetica Neue,sans-serif;
}

/*Margins*/
.mb-0{
    margin-bottom: 0px !important;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-1 {
    margin-bottom: 1rem!important;
}
.mt-1 {
    margin-top: 1rem!important;
}
.ml-24{
    margin-left: 24px !important;
}


/*Paddings*/
.pl-15{
  padding-left: 15px;
}
.p-15{
    padding:15px;;
 }

.sidenav-container {
    height: 100vh;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}
.mat-separator{
    height: 64px;
    width: 1px;
    background-color: #fff;
}
.user-icon{
    min-height: 64px;
    height: 64px;
}
.avatar{
    margin-right: 10px;
}
.mat-toolbar-single-row{
    padding:0 !important;
}
.list{
    width: 60px !important;
    height: 60px !important;
}
.search{
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
}
.sidenav mat-sidenav {
    display: flex;
    overflow: visible;
}
.sidenav-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
.quick-panel {
    width: 330px;
    min-width: 330px;
    max-width: 330px;
}
.secondary-text{
    color: rgba(0,0,0,.54);
}
.mat-slide-toggle .mat-slide-toggle-label{
    order: 1;
}
.mat-slide-toggle .mat-slide-toggle-bar{
    order: 2;
}
.quick-panel .mat-slide-toggle-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.left-sidenav{
	width: 240px;
    height: 100vh;
    overflow: hidden;
}

.left-sidenav.mat-sidenav {
    width: 15rem;
    min-width: 15rem;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.nav-section-title {
    padding: 16px 0 0 16px;
    display: block;
    font-size: 12px;
}

.mat-slide-toggle{
    flex: 1;
}
.branding {
    height: 64px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.user{
	text-align: center
}

button[mat-xs-button] {
	width: 20px;
	height: 20px;
	line-height: 20px;
}
button[mat-xs-button] mat-icon{
	width: 16px;
	height: 16px;
	line-height: 16px !important;
	font-size: 16px;
}
.frequently-accessed .button-row button{
	min-width: auto;
}

.sidebar-panel .menulist a mat-icon {
	height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
}
.menulist .mat-list-item-content {
    padding: 0px !important;
}

.menulist .mat-list-item-content{
    display: block !important;
}
.menulist .sidebar-list-item{
  max-height: 48px ;
  overflow: hidden;
  transition: all .4s cubic-bezier(.35,0,.25,1);
}
.menulist .sidebar-list-item.open{
    max-height: 1000px;
    overflow: visible !important;
    height: auto !important;
}
.menulist .mat-list-item.open .sub-menu mat-list-item.mat-list-item span {
    padding-left: 46px;
    height: 48px;
    line-height: 48px;
}
.searchbar {
    min-height: 64px;
}
.searchbar input {
    font-size: 20px;
    background: transparent;
    border: none;
    color: #fff;
}
input::placeholder{
    color: #fff;
}
input:focus{
    outline: 0;
}
.sidebar-panel{
    padding-top: 64px;
}
mat-nav-list.sub-menu.mat-nav-list{
  padding-top:0px;
}
.s-18{
  font-size: 18px;
  line-height: 18px;
  width: 18px !important;
  height: 18px !important;
}
.open .menu-caret{
  transform: rotate(180deg);
}
mat-icon.menu-caret.mat-icon.material-icons {
    font-size: 18px;
}
.sub-menu.mat-nav-list, .sub-menu{
      transition: max-height .4s cubic-bezier(.35,0,.25,1);
}
.sub-menu mat-list-item{
    transition: height .4s cubic-bezier(.35,0,.25,1);
    }