/* You can add global styles to this file, and also import other style files */
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Roboto",Helvetica Neue,sans-serif;
}
p{
  margin: 0 0 1rem;
}
.hidden {
  display: none !important;
}

/*Margins*/
.m-0{
  margin: 0rem !important;
}
.mb-0{
  margin-bottom: 0rem !important;
}
.mt-0{
  margin-top: 0rem !important
}
.m-0-auto{
  margin: 0 auto
}
.my-1{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.mt-5{
  margin-top: .5rem !important;
}
.ml-5{
  margin-left: .5rem;
}
.mt-1 {
  margin-top: 1rem!important;
}
.mb-1 {
  margin-bottom: 1rem!important;
}
.ml-1{
  margin-left: 1rem !important;
}
.mr-1{
  margin-right: 1rem !important;
}
.mb-12{
  margin-bottom: 12px;
}
.ml-24{
  margin-left: 24px !important;
}

/*Paddings*/
.p-0{
  padding: 0rem !important;
}
.p-1{
  padding: 1rem;
}
.px-1{
  padding-left: 1rem;
  padding-right: 1rem;
}
.pr-1{
  padding-right: 1rem;
}
.pl-1{
  padding-left: 1rem;
}
.pb-1{
  padding-bottom: 1rem;
}
.p-tl{
  padding: 5px 15px 5px 15px;
}
.s-18{
  font-size: 18px;
  line-height: 18px;
  width: 18px !important;
  height: 18px !important;
}
.mat-h3-light{
  font-size: 22px;
  font-weight: 400;
}
.f-20{
  font-size: 20px;
}
.p0 .mat-card-title{
  padding: 1rem 1.5rem .5rem;
}
.p0 .mat-card-content{
  padding: 1rem 1.5rem 1.5rem;
}
.text-center{
  text-align: center
}
.mat-card{
  margin: 0.33rem;
  padding: 24px;
}
.mat-card{

  &.default{
      padding: 0;

      .mat-card-title{
      padding: 1rem 1rem 0rem 1rem;
      font-size: 1rem;
    }
  }
}
.icon-48 .mat-icon{
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
}
a{
  text-decoration: none
}
.fixed-topbar .right-container{
    padding: 0.33em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    top: 104px;
    z-index: -9;
}
.font-weight-500{
  font-weight: 500;
}

.mat-selection-list .mat-list-option .mat-list-text {
  padding: 0px !important;
}

@media screen and (max-width: 599px){
  .list-scroll{
    .mat-card-content{
      overflow: auto;
    }
    .mat-list, .mat-table, .mat-stepper-horizontal{
      min-width: 490px;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}