/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Roboto",Helvetica Neue,sans-serif;
}

/*Margins*/
.mb-0{
    margin-bottom: 0px !important;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-1 {
    margin-bottom: 1rem!important;
}
.mt-1 {
    margin-top: 1rem!important;
}
.ml-24{
    margin-left: 24px !important;
}

/*Paddings*/
.pl-15{
  padding-left: 15px;
}
.p-15{
    padding:15px;;
 }

.sidenav-container {
    height: 100vh;
}

.mat-separator{
    height: 64px;
    width: 1px;
    background-color: #fff;
}
.user-icon{
    min-height: 64px;
    height: 64px;
}
.avatar{
    margin-right: 10px;
}
.mat-toolbar-single-row{
    padding:0 !important;
}
.list{
    width: 60px !important;
    height: 60px !important;
}
.search{
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
}
.sidenav mat-sidenav {
    display: flex;
    overflow: visible;
}
.sidenav-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
.secondary-text{
    color: rgba(0,0,0,.54);
}
.mat-slide-toggle .mat-slide-toggle-label{
    order: 1;
}
.mat-slide-toggle .mat-slide-toggle-bar{
    order: 2;
}

.left-sidenav{
	width: 240px;
    height: 100vh;
    overflow: hidden;
}

.left-sidenav.mat-sidenav {
    width: 15rem;
    min-width: 15rem;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.nav-section-title {
    padding: 16px 0 0 16px;
    display: block;
    font-size: 12px;
}

.mat-slide-toggle{
    flex: 1;
}
.branding {
    height: 64px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.user{
	text-align: center
}


.frequently-accessed .button-row button{
	min-width: auto;
}
.s-18{
  font-size: 18px;
  line-height: 18px;
  width: 18px !important;
  height: 18px !important;
}
