/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Roboto",Helvetica Neue,sans-serif;
}

.hidden {
  display: none !important;
}

/*Margins*/
.mb-0{
    margin-bottom: 0px !important;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-1 {
    margin-bottom: 1rem!important;
}
.mt-1 {
    margin-top: 1rem!important;
}
.ml-24{
    margin-left: 24px !important;
}
.ml-1{
  margin-left: 1rem !important;
}
.mr-1{
  margin-right: 1rem;
}
.m-0{
  margin: 0px !important;
}
.m-t-0{
  margin-top: 0px !important
}

.m-0-auto{
  margin: 0 auto
}
.mt-5{
  margin-top: .5rem !important;
}

/*Paddings*/
.pl-15{
  padding-left: 15px;
}
.p-15{
    padding:15px;;
 }
 .p-0{
  padding: 0px !important;
 }
.p-tl{
  padding: 5px 15px 5px 15px;
}
.p-1{
  padding: 1rem;
}
.s-18{
  font-size: 18px;
  line-height: 18px;
  width: 18px !important;
  height: 18px !important;
}

.mat-h3-light{
  font-size: 22px;
  font-weight: 400;
}
.f-20{
  font-size: 20px;
}

.p0 .mat-card-title{
  padding: 1rem 1.5rem .5rem;
}
.p0 .mat-card-content{
  padding: 0rem 1.5rem 1.5rem;
}

.text-center{
  text-align: center !important
}
.mat-card{
  margin: 0.33rem;
  padding: 24px;
}
