@import '~@angular/material/theming';

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';

@include mat-core();

$general-typography: mat-typography-config(
  $subheading-2:  mat-typography-level(14px, 28px, 400)
 // $body-1: mat-typography-level(14px, 28px, 400),
 // $headline: mat-typography-level(32px, 48px, 700)
);

// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);
@include mat-base-typography($general-typography);

@import 'app/admin/layout/sidebar/sidebar.component.scss-theme.scss';
@import 'app/admin/layout/breadcrumb/breadcrumb.component.scss-theme.scss';
@import 'app/admin/dashboard/dashboard.component.scss-theme.scss';
@import 'app/admin/profile/profile.component.scss-theme.scss';

@mixin custom-components-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  @include anms-sidebar-component-theme($theme);
  @include anms-breadcrumb-component-theme($theme);
  @include anms-dashboard-component-theme($theme);
  @include anms-profile-component-theme($theme);

  .mat-bg-primary {
    background: mat-color($primary);
  }
  .mat-bg-accent {
    background: mat-color($accent);
  }
}

.default-theme {
  @include angular-material-theme($anms-theme);
  @include custom-components-theme($anms-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
   @include angular-material-theme($anms-black-theme);
   @include custom-components-theme($anms-black-theme);
}

