@import '~@angular/material/theming';

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@include mat-core();

$general-typography: mat-typography-config(
  $subheading-2:  mat-typography-level(14px, 28px, 400)
);

// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);
@include mat-base-typography($general-typography);

@import 'themes/quill-editor/quill-editor.scss';

@import 'app/admin/login/login.component.scss-theme.scss';
@import 'app/admin/register/register.component.scss-theme.scss';

@import 'app/admin/layout/sidebar/sidebar.component.scss-theme.scss';
@import 'app/admin/layout/breadcrumb/breadcrumb.component.scss-theme.scss';
@import 'app/admin/dashboard/dashboard.component.scss-theme.scss';
@import 'app/admin/profile/profile.component.scss-theme.scss';
@import 'app/admin/layout/header/header.component.scss-theme.scss';

@mixin custom-components-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Quill Editor
  @include anms-quill-editor-theme($theme);

  @include anms-login-component-theme($theme);
  @include anms-register-component-theme($theme);
  @include anms-sidebar-component-theme($theme);
  @include anms-breadcrumb-component-theme($theme);
  @include anms-dashboard-component-theme($theme);
  @include anms-profile-component-theme($theme);
  @include anms-header-component-theme($theme);

  .mat-bg-primary {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }
  .mat-bg-accent {
    background: mat-color($accent);
  }
}

.default-theme {
  @include angular-material-theme($anms-theme);
  @include custom-components-theme($anms-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
   @include angular-material-theme($anms-black-theme);
   @include custom-components-theme($anms-black-theme);
}



