@import '~@angular/material/theming';

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';

@include mat-core();

$general-typography: mat-typography-config(
  $subheading-2:  mat-typography-level(14px, 28px, 400)
);

// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);
@include mat-base-typography($general-typography);

@import 'themes/quill-editor/quill-editor.scss';
@import 'themes/common/common.scss';

@import 'app/admin/chat/chat.component.scss-theme.scss';
@import 'app/admin/profile/profile.component.scss-theme.scss';
@import 'app/admin/layout/header/header.component.scss-theme.scss';

@mixin custom-components-theme($theme) {

  // Quill Editor
  @include anms-quill-editor-theme($theme);

  @include anms-common-theme($theme);

  @include anms-chat-component-theme($theme);
  @include anms-profile-component-theme($theme);
  @include anms-header-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($anms-theme);
  @include custom-components-theme($anms-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
   @include angular-material-theme($anms-black-theme);
   @include custom-components-theme($anms-black-theme);
}
