@import '~@angular/material/theming';
@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';

@include mat-core();

$my-app-primary: mat-palette($mat-teal);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);


$general-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $body-2:        mat-typography-level(14px, 24px, 600),
  $body-1:        mat-typography-level(14px, 24px, 600),
  $subheading-2:  mat-typography-level(14px, 28px, 400)
);

$secondary-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif'
);


// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);
@include mat-sidenav-typography($general-typography);

.default-theme {
  @include angular-material-theme($anms-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);

}

.black-theme {
  @include angular-material-theme($anms-black-theme);
   $primary: map-get($anms-black-theme, primary);
   $accent: map-get($anms-black-theme, accent);
   $warn: map-get($anms-black-theme, warn);
   $light-primary:  mat-palette($primary, 500, 900, A100);

  .branding {
      background: mat-color($accent);
  }


}



