
.sidebar-panel .menulist a mat-icon {
  height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
}

.left-sidenav{
  width: 240px;
    height: 100vh;
    overflow: hidden;

  .sidebar-panel{
      padding-top: 64px;

      .branding {
          height: 64px;
          position: fixed;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 999;
      }
      .user{
        text-align: center;

          .user-photo
           {
            border: 1px solid hsla(210,8%,51%,.13);
            padding: 4px;
            border-radius: 50%;
            width: 72px;
            height: 72px;
            margin: 0 auto;
           img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
}
        button[mat-xs-button] {
          width: 20px;
          height: 20px;
          line-height: 20px;

          mat-icon{
            width: 16px;
            height: 16px;
            line-height: 16px !important;
            font-size: 16px;
          }
        }
      }
      .frequently-accessed .button-row button{
        min-width: auto;
      }
      .menulist {
          .mat-nav-list .mat-list-item {
            font-size: 14px;
          }
          .sidebar-list-item{
            max-height: 48px ;
            overflow: hidden;
            transition: all .4s cubic-bezier(.35,0,.25,1);
          }
          .mat-list-item-content {
              padding: 0px !important;
              display: block !important;

              .menu-caret{
                  font-size: 18px;
              }
          }
          .sidebar-list-item.open{
              max-height: 1000px;
              overflow: visible !important;
              height: auto !important;

              .menu-caret{
                transform: rotate(180deg);
              }
                .sub-menu{
                  padding-top:0px;
                  transition: max-height .4s cubic-bezier(.35,0,.25,1);

                    .mat-list-item span {
                      padding-left: 46px;
                      height: 48px;
                      line-height: 48px;
                      transition: height .4s cubic-bezier(.35,0,.25,1);
                    }
                }
          }
      }
  }
}
