<perfect-scrollbar>
  <div class="sidebar-panel" fxLayout="column">
    <div class="branding" fxLayoutAlign="center center">ADMIN</div>
    <div class="user mb-12" fxLayout="column">
      <div class="user-photo"><img src="assets/images/avataar.png"></div>
      <span class="user-name">Watson Joyce</span>
      <span class="mat-h5">example@gmail.com</span>
      <!-- <div class="user-controls"></div>
      <button mat-icon-button [matMenuTriggerFor]="userControls" mat-xs-button>
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #userControls="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>My Profile</button>
        <button mat-menu-item>
          <mat-icon>email</mat-icon>Inbox</button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>Logout</button>
      </mat-menu>
      <button mat-icon-button mat-xs-button>
        <mat-icon>email</mat-icon>
      </button>
      <button mat-icon-button mat-xs-button>
        <mat-icon>exit_to_app</mat-icon>
      </button> -->
    </div>
    <mat-divider class="mt-1"></mat-divider>
    <mat-nav-list>
      <div class="frequently-accessed">
        <h3 mat-subheader>Frequently Accessed</h3>
        <div class="button-row" fxLayout="row" fxLayoutAlign="space-evenly center">
          <button mat-raised-button>
            <mat-icon>home</mat-icon>
          </button>
          <button mat-raised-button>
            <mat-icon>person</mat-icon>
          </button>
          <button mat-raised-button>
            <mat-icon>flight_takeoff</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider class="mt-1"></mat-divider>
      <div class="menulist">
        <h3 mat-subheader>Main Items</h3>
        <mat-list-item class="sidebar-list-item" sidenavAccordian>
          <a fxLayout="row" fxLayoutAlign="start center" routerLink="dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
            <span fxFlex></span>
            <mat-icon class="menu-caret">keyboard_arrow_down</mat-icon>
          </a>
          <mat-nav-list class="sub-menu">
            <mat-list-item>
              <a fxLayout="row" fxLayoutAlign="start center">
                  <span>Dashboard 1</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a>
                  <span>Dashboard 2</span>
              </a>
            </mat-list-item>
          </mat-nav-list>
        </mat-list-item>
        <mat-list-item>
          <a matLine fxLayoutAlign="start center" routerLink="profile">
            <mat-icon>inbox</mat-icon>
            <span>Profile</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a matLine fxLayoutAlign="start center" routerLink="dialog">
            <mat-icon>person</mat-icon>
            <span>Dialog</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a matLine fxLayoutAlign="start center" routerLink="forms">
            <mat-icon>description</mat-icon>
            <span>Forms</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a matLine fxLayoutAlign="start center" routerLink="wizard">
            <mat-icon>description</mat-icon>
            <span>Wizard</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a matLine fxLayoutAlign="start center" routerLink="otherElements">
            <mat-icon>description</mat-icon>
            <span>Other Elements</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a matLine routerLink="tables" fxLayoutAlign="start center">
            <mat-icon>format_line_spacing</mat-icon>
            <span>Tables</span>
          </a>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </div>
</perfect-scrollbar>
