<perfect-scrollbar>
  <div class="sidebar-left" fxLayout="column">
    <div class="branding mat-brand-bg mat-elevation-z1">
      <div class="p-1">
        <div class="font--20 mb-0">ADMIN</div>
        <div class="user mb-12" fxLayout="row" fxLayoutAlign="start center">
          <div>
            <div>John Doe</div>
            <div class="mat-h5 mb-0">john@doe.com</div>
          </div>
          <span fxFlex></span>
          <div class="user__photo"><img src="assets/images/avataar.png"></div>
        </div>
      </div>
    </div>
    <mat-nav-list (click)="hideSubmenu($event)">
      <div class="menu__list mb-1">
        <mat-list-item class="menu__item" sidenavAccordian>
          <a fxLayout="row" fxLayoutAlign="start center" routerLink="dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a fxLayoutAlign="start center" routerLink="profile">
            <mat-icon>inbox</mat-icon>
            <span>Profile</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a fxLayoutAlign="start center" routerLink="dialog">
            <mat-icon>person</mat-icon>
            <span>Dialog</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a fxLayoutAlign="start center" routerLink="forms">
            <mat-icon>description</mat-icon>
            <span>Forms</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a fxLayoutAlign="start center" routerLink="wizard">
            <mat-icon>receipt</mat-icon>
            <span>Wizard</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a fxLayoutAlign="start center" routerLink="otherElements">
            <mat-icon>blur_on</mat-icon>
            <span>Other Elements</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="tables" fxLayoutAlign="start center">
            <mat-icon>format_line_spacing</mat-icon>
            <span>Tables</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="datatables" fxLayoutAlign="start center">
            <mat-icon>border_all</mat-icon>
            <span>DataTables</span>
          </a>
        </mat-list-item>
        <mat-list-item class="menu__item" sidenavAccordian>
          <a fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>view_carousel</mat-icon>
            <span>Pages</span>
            <span fxFlex></span>
            <mat-icon class="menu-caret">keyboard_arrow_down</mat-icon>
          </a>
          <mat-nav-list class="menu__submenu">
            <mat-list-item>
              <a fxLayout="row" routerLink="chat">
                <span>Chat</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a fxLayout="row" routerLink="grid-system">
                <span>Grid System</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a fxLayout="row" routerLink="login">
                  <span>Login</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a fxLayout="row" routerLink="register">
                  <span>Register</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a fxLayout="row" routerLink="forgot-password">
                  <span>Forgot Password</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a fxLayout="row" routerLink="error">
                  <span>Error</span>
              </a>
            </mat-list-item>
          </mat-nav-list>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </div>
</perfect-scrollbar>
